@model IoT_Web.Models.Create_Shift
@*@model IoT_Web.Models.RegisterViewModel*@

@{
    Layout = "~/Views/Shared/_LayoutNoLogin.cshtml";
}

@{
    ViewBag.Title = Recursos.Idioma.CrearTorn;
}

<div class="container-login100">
    <div class="row justify-content-center wrap-login100">
        @using (Html.BeginForm("Create", "Configuration", FormMethod.Post, new { @class = "login100-form validate-form", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <span class="login100-form-title">
                @Recursos.Idioma.NouTorn
            </span>
            <div>
                <div class="wrap-input100">
                    @Html.TextBoxFor(m => m.Name, new { @class = "input100", @placeholder = Recursos.Idioma.NomTorn })
                </div>
            </div>
            <div>
                <div class="wrap-input100">
                    <div class="input-group date" id="datetimepickerBegin" data-target-input="nearest">
                        @Html.TextBoxFor(m => m.BeginTime, new { @class = "input100 datetimepicker-input form-control", @placeholder = Recursos.Idioma.HoraInici })
                        @*<input id="dataFinal" type="text" class="input100 datetimepicker-input form-control" data-target="#datetimepickerBegin" placeholder="Hora de inicio:" />*@
                        <div class="input-group-append" data-target="#datetimepickerBegin" data-toggle="datetimepicker">
                            <div class="input-group-text" style=" border-bottom-right-radius: 25px; border-top-right-radius: 25px;">
                                <i class="fa fa-clock-o"></i>
                            </div>
                        </div>
                    </div>
                    <div class="input-group date" id="datetimepickerEnd" data-target-input="nearest" style="margin-top: 10px">
                        @Html.TextBoxFor(m => m.EndTime, new { @class = "input100 datetimepicker-input form-control", @placeholder = Recursos.Idioma.HoraFi })
                        @*<input id="dataFinal" type="text" class="input100 datetimepicker-input form-control" data-target="#datetimepickerEnd" placeholder="Hora de finalización:" />*@
                        <div class="input-group-append" data-target="#datetimepickerEnd" data-toggle="datetimepicker">
                            <div class="input-group-text" style=" border-bottom-right-radius: 25px; border-top-right-radius: 25px;">
                                <i class="fa fa-clock-o"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $(function () {
                    $('#datetimepickerBegin').datetimepicker({
                        format: 'HH:mm'
                    });
                    $('#datetimepickerEnd').datetimepicker({
                        format: 'HH:mm'
                    });
                });
            </script>
            <div>
                <h5 style="text-align: center; margin-top: 30px">
                    @Recursos.Idioma.DiesLaborables
                </h5>
            </div>
            <div class="row justify-content-center" style="margin-top: 20px">
                <div style="max-width: 90%; min-width: 220px; margin-left: 20px">
                    <div class="row justify-content-center">
                        <div class="col-6">
                            @Html.CheckBoxFor(m => m.Monday)
                            @Html.LabelFor(m => m.Monday, Recursos.Idioma.Dilluns)
                        </div>
                        <div class="col-6">
                            @Html.CheckBoxFor(m => m.Tuesday)
                            @Html.LabelFor(m => m.Tuesday, Recursos.Idioma.Dimarts)
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6">
                            @Html.CheckBoxFor(m => m.Wednesday)
                            @Html.LabelFor(m => m.Wednesday, Recursos.Idioma.Dimecres)
                        </div>
                        <div class="col-6">
                            @Html.CheckBoxFor(m => m.Thursday)
                            @Html.LabelFor(m => m.Thursday, Recursos.Idioma.Dijous)
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-6">
                            @Html.CheckBoxFor(m => m.Friday)
                            @Html.LabelFor(m => m.Friday, Recursos.Idioma.Divendres)
                        </div>
                        <div class="col-6">
                            @Html.CheckBoxFor(m => m.Saturday)
                            @Html.LabelFor(m => m.Saturday, Recursos.Idioma.Dissabte)
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            @Html.CheckBoxFor(m => m.Sunday)
                            @Html.LabelFor(m => m.Sunday, Recursos.Idioma.Diumenge)
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-login100-form-btn">
                <button class="login100-form-btn">
                    @Recursos.Idioma.GuardarTorn
                </button>
            </div>
            <div class="text-center p-t-136" style="margin-top: 30px">
                <a class="txt2">
                    @Html.ActionLink(Recursos.Idioma.Tornar, "Index", "Configuration")
                    <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                </a>
            </div>
        }
    </div>
</div>

<script>

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
