@{
    ViewBag.Title = "Contact";
}


<!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4"><font color="white">@Recursos.Idioma.Contacte</font></h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">
        @Recursos.Idioma.InfoConacte
    </p>

    <div class="row">

        <!--Grid column-->
        <div class="col-9">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-9" style="margin-bottom:15px;">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control" placeholder="@Recursos.Idioma.TeuNom">
                        </div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-9" style="margin-bottom:15px;">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control" placeholder="@Recursos.Idioma.TeuCorreu">
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->
                <!--Grid row-->
                <div class="row">
                    <div class="col-md-9" style="margin-bottom:15px;">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control" placeholder="@Recursos.Idioma.Assumpte">
                        </div>
                    </div>
                </div>
                <!--Grid row-->
                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-9">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="6" class="form-control md-textarea" placeholder="@Recursos.Idioma.TeuMissatge"></textarea>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-left" style="margin-top:15px;">
                <a class="btn btn-primary" onclick="validarForma();">@Recursos.Idioma.Enviar</a>
            </div>
            <div class="status" id="status"></div>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-2">
            <ul class="list-unstyled mb-0">
                <li>
                    <i class="fa fa-map-marker fa-2x" style="color:white;margin-left:50%"></i>
                    <p>P.I. Poliger Sud, Sector 1, nº1, 17854 Sant Jaume de Llierca</p>
                </li>

                <li>
                    <i class="fa fa-phone mt-4 fa-2x" style="color:white;margin-left:50%"></i>
                    <p style="text-align: center;">+34 972 29 01 05</p>
                </li>

                <li>
                    <i class="fa fa-envelope mt-4 fa-2x" style="color:white;margin-left:50%"></i>
                    <p>commercial@tavil.net</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->
<script>
    function validarForma() {
        var name =  document.getElementById('name').value;
        if (name == "") {
            document.getElementById('status').innerHTML = "<font color='#ff5042'>@Recursos.Idioma.NomNoBuit</font>";
            return false;
        }
        var email =  document.getElementById('email').value;
        if (email == "") {
            document.getElementById('status').innerHTML = "<font color='#ff5042'>@Recursos.Idioma.CorreuNoBuit</font>";
            return false;
        } else {
            var re = new RegExp('^[a-z0-9_\\+-]+(\\.[a-z0-9_\\+-]+)*@@[a-z0-9-]+(\\.[a-z0-9]+)*\\.([a-z]{2,4})$');
            if(!re.test(email)){
                document.getElementById('status').innerHTML = "<font color='#ff5042'>@Recursos.Idioma.FormatCorreuError</font>";
                return false;
            }
        }
        var subject =  document.getElementById('subject').value;
        if (subject == "") {
            document.getElementById('status').innerHTML = "<font color='#ff5042'>@Recursos.Idioma.AssumpteNoBuit</font>";
            return false;
        }
        var message =  document.getElementById('message').value;
        if (message == "") {
            document.getElementById('status').innerHTML = "<font color='#ff5042'>@Recursos.Idioma.MissatgeNoBuit</font>";
            return false;
        }
        document.getElementById('status').innerHTML = "<font color='#32CD32'>@Recursos.Idioma.Enviant</font>";
        $.ajax({
            type: 'POST',
            async: true,
            url: '/Home/EnviarCorreu',
            data: { name: name, email: email, subject: subject, message: message },
            success: function (result) {
                document.getElementById('status').innerHTML = "<font color='#32CD32'>@Recursos.Idioma.CorreuEnviat</font>";
            },
            error: function (jqXHR, textStatus, errorThrown) {
                document.getElementById('status').innerHTML = "<font color='#ff5042'>@Recursos.Idioma.ErrorCorreu</font>";
            }
        });

    }

</script>