@model IoT_Web.Models.Maquines.AranyaParentModel

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/Libraries/jquery.dataTables.js"></script>

<link rel="stylesheet" href="~/Content/Libraries/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" href="~/Content/Libraries/buttons.bootstrap4.min.css" />


<script type="text/javascript" src="~/Scripts/Libraries/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="~/Scripts/Libraries/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/Scripts/Libraries/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="~/Scripts/Libraries/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="~/Scripts/Libraries/buttons.bootstrap4.min.js"></script>

<script type="text/javascript" src="~/Scripts/JS_Formadora.js"></script>
<script type="text/javascript" src="~/Scripts/Plotly/plotly-d3.js"></script>
<script type="text/javascript" src="~/Scripts/Plotly/plotly-2.6.3.min.js"></script>
<script type="text/javascript" src="~/PDF/GestorPDF.js"></script>
<script type="text/javascript" src="~/PDF/jquery.color-animation.js"></script>

<div class="sticky-header sticky-top">
    <div class="row justify-content-sm-end justify-content-center">
        <div class="col-auto" style="">
            <a class="align-content-center btn btn-secondary" href="#" onclick="previosZoom();" role="button" style="padding:0px;height:30px;width:30px;font-size:20px;"><span class="fa fa-arrow-circle-o-left" /></a>
            <a class="align-content-center btn btn-secondary" href="#" onclick="increaseZoom();" role="button" style="padding:0px;height:30px;width:30px;font-size:20px;"><span class="fa fa-search-plus" /></a>
        </div>
        <div class="col-auto mr-auto" style="padding-left:0px;">
            <p id="textDurada" style="font-size:16px; margin-top:3.5px;color: black;">@Recursos.Idioma.Duracio:</p>
        </div>
        <div class="col-auto" style="width: 190px; padding-right: 0px;">
            <select id="shiftDropDownList" class="browser-default custom-select" style="width: 148px; height: 20px; font-size: 14px;">
                <option value="0" selected>@Recursos.Idioma.TotsElsTorns</option>
                @foreach (var shift in Model.TornsActuals)
                {
                    <option value="@shift.ID">@shift.Name</option>
                }
            </select>
        </div>
        <div class="col-auto" style="width:190px; padding-right: 0px;">
            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                <input id="dataInicial" type="text" class="datetimepicker-input form-control" style="font-size: 14px; height: 22px;" data-target="#datetimepicker1" placeholder="@Recursos.Idioma.Desde:" />
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
        <div class="col-auto align-content-center" style="width:190px; padding-right: 0px;">
            <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                <input id="dataFinal" type="text" class="datetimepicker-input form-control" style="font-size: 14px; height: 22px;" data-target="#datetimepicker2" placeholder="@Recursos.Idioma.Fins:" />
                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
        <div class="col-auto align-content-center" style="padding-right: 15px;">
            <a class="align-content-center btn btn-secondary d-none d-md-block" href="#" onclick="actualitzarGraficForm();" role="button" style="padding:0px;height:30px;width:30px;font-size:20px;"><span class="fa fa-refresh" /></a>
            <a class="align-content-center btn btn-secondary d-md-none" href="#" style="font-family: Arial;margin-top: 5px;" onclick="actualitzarGraficForm();" role="button">@Recursos.Idioma.Refrescar</a>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {

                $('#datetimepicker1').datetimepicker({
                    format: 'DD/MM/YYYY HH:mm:ss',
                    date: minimumDate,
                    buttons: {
                        showToday: true,
                        showClear: true,
                        showClose: true
                    },
                });
                $('#datetimepicker2').datetimepicker({
                    format: 'DD/MM/YYYY HH:mm:ss',
                    date: maximumDate,
                    buttons: {
                        showToday: true,
                        showClear: true,
                        showClose: true
                    },
                });

            });
        </script>
    </div>
</div>

<style>
    /* Estilos de la cabecera sticky */
    .sticky-header {
        top: 50px;
        padding: 15px 20px; /* Espaciado interno */
        border-radius: 0 0 10px 10px; /* Bordes redondeados en la parte inferior */
        margin-bottom: 20px;
        z-index: 5000; /* Asegura que esté siempre encima */
        backdrop-filter: blur(5px); /* Desenfoque del fondo */
        -webkit-backdrop-filter: blur(5px); /* Desenfoque para Safari */
        background: linear-gradient(-35deg, rgba(167, 167, 167, 0.54), rgba(167, 167, 167, 0.8)); /* Fondo degradado con transparencia */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
        transition: all 0.3s ease; /* Transición suave para hover */
    }

    .sticky-header:hover {
        background: linear-gradient(-35deg, rgba(200, 200, 200, 0.7), rgba(200, 200, 200, 0.9)); /* Fondo más claro al pasar el ratón */
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Aumenta la sombra en hover */
    }
</style>

<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
    opacity: .8; filter: alpha(opacity=70);display:none">
    <p style="position: absolute; top: 30%; left: 45%; color: White;">
        @Recursos.Idioma.Carregant<img src="~/Images/gif/loading.gif">
    </p>
</div>

<div id="partial">
    @{ Html.RenderPartial("~/Views/Maquines/_AranyaParentPartial.cshtml", Model); }
</div>

<script>
    function actualitzarGraficForm() {
        var valorInicialForm = moment(document.getElementById('dataInicial').value, "DD/MM/YYYY HH:mm:ss").format("YYYY/MM/DD HH:mm:ss");
        var valorFinalForm = moment(document.getElementById('dataFinal').value, "DD/MM/YYYY HH:mm:ss").format("YYYY/MM/DD HH:mm:ss");

        var list = document.getElementById('shiftDropDownList');
        var selectedShift = list.options[list.selectedIndex].value;
        var maquina = "@Model.NomMaquina";

        if (valorInicialForm == "") {
            alert("@Html.Raw(Recursos.Idioma.AlertDataInicial)");
            return;
        }
        if (valorFinalForm == "") {
            alert("@Html.Raw(Recursos.Idioma.AlertDataFinal)");
            return;
        }
        if (new Date(valorInicialForm).getTime() >= new Date(valorFinalForm).getTime()) {
            alert("@Html.Raw(Recursos.Idioma.AlertNoInterval)")
            return;
        }

        var tempsTotal = new Date(moment(document.getElementById('dataFinal').value, "DD/MM/YYYY HH:mm:ss").format("YYYY/MM/DD HH:mm:ss")).getTime()
            - new Date(moment(document.getElementById('dataInicial').value, "DD/MM/YYYY HH:mm:ss").format("YYYY/MM/DD HH:mm:ss")).getTime();
        if ((tempsTotal / (1000 * 3600 * 24)) > 7) {
            alert("@Html.Raw(Recursos.Idioma.Alert7Dies)");
            return;
        }

        $("#divLoading").show();
        var antInitDate = "@Html.Raw(Model.DataIniciAnterior).ToString()";
        var antFinalDate = "@Html.Raw(Model.DataFiAnterior).ToString()";
        $("#partial").load("/Aranya/AranyaParentPartial", { inici: valorInicialForm, final: valorFinalForm, torn: selectedShift, iniciAnt: antInitDate, finalAnt: antFinalDate, nomMaquina: maquina, idMaquina: @Model.IdMaquina });
    }
</script>